* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.icon--yellow {
  color: #fdb127;
}

.icon--blue {
  color: #3fd7fe;
}

.icon--green {
  color: #2dd1a0;
}

.icon--red {
  color: #ff5747;
}

.icon--gray {
  color: #ddd;
}