@import '../../style/common.scss';

.List>.search {
  margin: 15px 37.5px;
  width: 675px;
  .search__input {
    padding-left: 37.5px;
    width: 100%;
    height: 60px;
    font-size: 28px;
    color: #333;
    background: #efefef;
    border: none;
    border-radius: 30px;
    outline: none;
  }
  .search__input::-webkit-input-placeholder {
    color: #b0b0b0;
  }
}

.List>.records {
  margin: 37.5px 0 150px;
  width: 100%;
  a {
    text-decoration: none;
  }
  .record {
    position: relative;
    padding: 18px 50px 0;
    width: 100%;
    height: 118px;
    .iconfont {
      position: absolute;
      top: 24px;
      left: 10px;
      font-size: 30px;
    }
    .record__content {
      line-height: 44px;
      font-size: 30px;
      color: #0e0e0e;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .record__date {
      margin-top: 8px;
      font-size: 26px;
      color: #959595;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -275px;
      width: 1300px;
      height: 3px;
      background: #f2f2f2;
      transform: scale(0.5);
    }
    &:active {
      background: #f2f2f2;
    }
  }
}

.List>.create {
  position: fixed;
  left: 265px;
  bottom: 15px; 
  width: 220px;
  height: 86px;
  text-align: center;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 43px;
  box-shadow: 0 4px 10px #e8e8e8;
  .create__icon {
    margin-top: 8px;
    color: #f48700;
    i {
      font-size: 38px;
    }
  }
  .create__text {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 200;
    color: #9f9f9f;    
  }
}